#game_title {
    text-align: left;
}

#game_content {
    height: 70vh;
    padding: 0 3% 0 3%;
}

.game_header {
    display: flex;
}

#player_container {
    height: 70vh;
    border: 1px solid black;
}

#haerziges_viech {
    display: inline-block;
    padding: 3% 3% 3% 0;
}

img {
    height: auto;
    display: inline-block;
    position: relative;
    width: 100px;

    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 1;  
    text-align: center;
  }
  
  img:before { 
    content: "We're sorry, the image below is broken :( Alternative text: \a0";
    display: inline-block;
    margin-bottom: 10px;
  }
  
  img:after { 
    /* content: "(url: " attr(src) ")";*/
   /* content: url("../Schuhe_schwarz.jpg"); Hier kann man ein alternativ Bild einblenden */
    display: inline-block;
    font-size: 12px;
  }